{% extends "base.html.j2" %}
{% from "item.html.j2" import BIO, MOMENTS, GALLERY %}
{% block body %}
    {% if bio is defined and bio %}{{ BIO(bio.title, bio.image, bio.paragraphs, bio.contacts) }}{% endif %}
    {% if moments is defined and moments %}{{ MOMENTS(moments.title, moments.posts) }}{% endif %}
    {% if galleries is defined and galleries %}
        {% for gallery in galleries %}{{ GALLERY(gallery.name, gallery.items) }}{% endfor %}
    {% endif %}
{% endblock body %}
