{% macro BIO(title, image, paragraphs, contacts) %}
    <table class="bio">
        <tbody>
            <tr>
                <td class="bio-image">
                    <img class="bio-image" alt="bio" src={{ image }} width="100%" height="100%" />
                </td>
                <td class="bio-text">
                    <p class="bio-name">
                        <span class="waving-hand">👋🏻</span> {{ title }}
                    </p>
                    {% for paragraph in paragraphs %}<p>{{ paragraph }}</p>{% endfor %}
                </td>
            </tr>
        </tbody>
    </table>
    {% if contacts is defined and contacts %}
        <table class="bio">
            <tbody>
                <tr>
                    <td class="bio-contacts">
                        {% for contact in contacts %}
                            {{ contact }}
                            {% if not loop.last %}&nbsp;/&nbsp;{% endif %}
                        {% endfor %}
                    </td>
                </tr>
            </tbody>
        </table>
    {% endif %}
{% endmacro %}
{% macro MOMENTS(title, posts) %}
    <table class="section-title">
        <tbody>
            <tr>
                <td class="section-title">{{ title }}</td>
            </tr>
        </tbody>
    </table>
    <table class="section-content">
        <tbody>
            {% if posts is defined and posts %}
                {% for post in posts %}
                    <tr>
                        <td class="moments-post">
                            <span class="moments-post-date">{{ post.date }}</span>{{ post.description }}
                        </td>
                    </tr>
                {% endfor %}
            {% endif %}
            <tr>
                <td class="moments-post-ellipsis">···</td>
            </tr>
        </tbody>
    </table>
{% endmacro %}
{% macro GALLERY(name, items) %}
    <table class="section-title">
        <tbody>
            <tr>
                <td class="section-title">{{ name }}</td>
            </tr>
        </tbody>
    </table>
    <table class="section-content">
        <tbody>
            {% for item in items %}
                <tr class="gallery-item">
                    <td></td>
                    <td class="gallery-item-image">
                        <div>
                            <img src={{ item.image }} width="100%" height="100%" alt="{{ item.name }}" />
                        </div>
                    </td>
                    <td class="gallery-item-text">
                        <a class="gallery-item-text-name">{{ item.name }}</a>
                        <br />
                        {% if item.tags is defined and item.tags %}
                            {% for tag in item.tags %}
                                <img src=" https://img.shields.io/badge/-{{ tag.name }}-{{ tag.color }}"
                                     alt="{{ tag.name }}" />
                            {% endfor %}
                            <br />
                        {% endif %}
                        {% if item.links is defined and item.links %}
                            {% for link in item.links %}
                                {{ link }}
                                <br />
                            {% endfor %}
                        {% endif %}
                        {{ item.description }}
                        <p class="bullet-list">
                            {% if item.bullets is defined and item.bullets %}
                                {% for bullet in item.bullets %}
                                    <div class="bullet-item">
                                        <span class="bullet-point"><strong>·</strong></span>
                                        <span class="bullet-text">{{ bullet }}</span>
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </p>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endmacro %}
